language: php
php:
    - 5.4
    - 5.5
    - 5.6
    - 7.0
    - hhvm

matrix:
    allow_failures:
        - php: hhvm

script:
    - vendor/bin/tester tests -s -p php -c tests/php-unix.ini
    - php temp/code-checker/src/code-checker.php --short-arrays

after_failure:
    # Print *.actual content
    - for i in $(find tests -name \*.actual); do echo "--- $i"; cat $i; echo; echo; done

before_script:
    # Install Nette Tester & Code Checker
    - travis_retry composer install --no-interaction
    - travis_retry composer create-project nette/code-checker temp/code-checker ~2.5 --no-interaction

    # Create databases.ini
    - cp ./tests/databases.travis.ini ./tests/databases.ini

    # Create Postgre database
    - psql -c 'CREATE DATABASE dibi_test' -U postgres

sudo: false

cache:
    directories:
        - $HOME/.composer/cache
