body {
	font: 15px/1.5 Tahoma, Verdana, Myriad Web, Syntax, sans-serif;
	color: #333;
	background: #fff url('dibi-powered.gif') no-repeat 99% 1em;
	margin:	1.6em;
	padding: 0;
}

h1, h2 {
	font-size: 210%;
	font-weight: normal;
	color: #036;
}

h2 {
	font-size: 150%;
}

pre.dump {
	border: 1px solid silver;
	padding: 1em;
	margin: 1em 0;
}

a {
	color: #000080;
}

table.dump {
	padding: 0;
	margin: 0;
	border-collapse:collapse;
}

table.dump td, table.dump th {
	color: #505767;
	background: #fff;
	border: 1px solid #d1cdab;
	padding: 6px 6px 6px 12px;
	text-align: left;
}

table.dump th {
	font-size: 80%;
	color: #525b37;
	background: #e3e9ba;
}
